.HomeBottom{
    background-image: url("/src/gddiVfu4mruUDpd9H8Qvs3a2xhuORn.png");
    width: 100vw;
    height: 402px;
    opacity: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;

}
.Textdiv{
    width: 58%;
}
.ImageText{
    color: #ffff;
    text-align: center;
    font: normal normal bold 32px/40px Poppins;

}
.HomeSermons{
    width: 100vw;
    font: normal normal normal 16px/20px Poppins;
    background: #F2F2F2 0% 0% no-repeat padding-box;
}
.Hometext{
    font: normal normal bold 16px/20px Poppins;
    color: #CE0E3D;

}
.Hometext2{
    font: normal normal normal 20px/24px Poppins;
    color: #CE0E3D;

}
.Hometext3{
    font: normal normal normal 16px/24px Poppins;
    color: #CE0E3D;

}
.Hometext4{
    text-align: center;
    font: normal normal bold 30px/49px Poppins;
    letter-spacing: 0px;
    color: #040404;
    opacity: 1;
    width: 432px;
    height: 102px;
}
.blogimg{
    top: 3875px;
    height: 216px;
    background: transparent url('/src/cdXRfmsTNzha7O8T_hSquxHvjG7eEU_d.png') 0% 0% no-repeat padding-box;
    box-shadow: 1px 3px 14px #00279108;
    border-radius: 7px 7px 0px 0px;
    opacity: 1;
}
.compdiv{
    top: 3875px;
    border-radius: 7px;
    opacity: 1;
    display: flex;
    flex-direction: row;
    padding-top: 20px;
    padding-bottom: 30px;
}
.blogpost{
    width: 33.33333%;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 7px;
    opacity: 1;
    box-shadow: 12px 13px 14px #00279108;
    border-bottom: #CE0E3D 7px solid;
    align-items: center;
    padding: 10px;
    margin: 4px;
}
.blogMain{
    width: 100vw;
    display: flex;
    flex-direction: column;
}
.blogText{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    color: #000;
    font: normal normal normal 16px/24px Poppins;
}
.blogtitle{
    text-align: left;
    font: normal normal bold 16px/25px Poppins;
    letter-spacing: 0px;
    color: #CE0E3D;
    text-transform: uppercase;
    opacity: 1;
}
.blogsub{
    width: 574px;
    height: 53px;
    text-align: center;
    font: normal normal bold 20px/37px Poppins;
    letter-spacing: 0px;
    color: #040404;
    text-transform: uppercase;
    opacity: 1;
}
.post{
    width: 1060px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.blogholder{
    display: flex;
    flex-direction: row;
    width: 70%;
}